<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KindLink</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VolunteeringApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/colors.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo_header.jpg" alt="Logo of the website with a heart and 2 hands" width="144" height="45" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            @if (User.IsInRole("Citizen"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Feed" asp-action="Index">Feed</a>
                                </li>
                                <li class="nav-item dropdown ">
                                    <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Organizations</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-controller="Organization" asp-action="Index">All</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" asp-controller="Follow" asp-action="GetFollowings">Following</a></li>
                                    </ul>
                                </li>

                            }
                            else if (User.IsInRole("Organization"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Organization" asp-action="Index">Organizations</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Content Management</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-controller="Posts" asp-action="Manage" asp-route-eventType="Upcoming">Manage Posts</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" asp-controller="Events" asp-action="Manage" asp-route-eventType="Past">Manage Events</a></li>
                                    </ul>
                                </li>
                            }

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Organization" asp-action="Index">Organizations</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="Index">Posts</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Events</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Events" asp-action="Index" asp-route-eventType="Upcoming">Upcoming Events</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-controller="Events" asp-action="Index" asp-route-eventType="Past">Past Events</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Statistics" asp-action="Index">Platform Statistics</a>
                        </li>
                    </ul>
                    <form class="d-flex me-5" role="search" asp-controller="Organization" asp-action="Index" method="get">
                        <input class="form-control me-2" type="search" placeholder="Search an organization" aria-label="Search" name="searchString">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </form>
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <ul class="navbar-nav ml-auto me-5">
                            @if (User.IsInRole("Citizen"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Hi, @User.Identity.Name</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-controller="Citizen" asp-action="Details">Profile Management</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                    </ul>
                                </li>
                            }
                            @if (User.IsInRole("Organization"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Hi, @User.Identity.Name</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-controller="Organization" asp-action="Details">Profile Details</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                    </ul>
                                </li>
                            }
                            <li class="nav-item ms-3">
                                <a asp-controller="Chat" asp-action="Index" class="nav-link" style="color:var(--secondary-color)"><i class="bi bi-chat-fill" style="font-size: 1.2rem;"></i>

                        </a>
                            </li>

                        </ul>

                    }
                    else
                    {
                        <ul class="navbar-nav ml-auto">
                            <li class="btn-group">
                                <a asp-controller="Account" asp-action="Login" class="btn btn-dark">Login</a>
                                <a asp-controller="Account" asp-action="ChooseRegistrationType" class="btn btn-outline-dark">Register</a>

                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - KindLink - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
