:root {
    --primary-color: #3E5641;
    --secondary-color: #61304B;
    --lightgreen: #a7d49b;
    --pastelgreen: #81a798;
    --pastelblue: #89C5D3;
    --pastelpink: #E8ACBD;
    --pastelpurple: #8C9DCF;
    --pastelorange: #cbaf8e;
    --pastelbeige: #C9C6B5;
    --pastelred: #E0787C;
}
