@model List<VolunteeringApp.Models.Chat.Message>
<style>
    .truncate-text {
        max-width: 650px; /* Adjust the maximum width as needed */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .truncate-text:hover {
        z-index: 10000; /* Ensure the tooltip is displayed on top of other elements */
    }
</style>
<div class="container">
    <div class="row">
        <h1 title="@ViewBag.usernames" class="truncate-text">Chat with @ViewBag.usernames</h1>
    </div>
    <div class="row p-1">
        <hr />
    </div>
    <!--Message List-->
    <div class="overflow-auto" style=" height: 60vh" id="messagesList">
        @if (@Model.Count > 0)
        {
            foreach (var message in Model)
            {
                if (message.SenderId.Equals(ViewBag.currentUserId))
                {
                    // If message is sent by the current user,place it to the right part of the container
                    await Html.PartialAsync("_SentMessage", message);
                }
                else
                {
                    // If message is a received one,place it to the left part of the container
                    await Html.PartialAsync("_ReceivedMessage", message);
                }
            }
        }
        else
        {
            <p>Send hi and start a conversation. </p>
        }

        <!-- Messages will be added dynamically here -->
    </div>
    <!--Text input and send button-->
    <div class="row flex-grow-0 py-3 border-top">
        <div class="col-8">
            <input type="text" class="w-100" id="messageInput" />
        </div>
        <div class="text-end col-4">
            <input hidden id="conversationId" value="@ViewBag.conversationId" /> <!--save receiver id-->
            <input class="btn btn-primary" type="button" id="sendButton" value="Send Message" aria-labelledby="message" placeholder="Message" />
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>