@model Dictionary<string,List<VolunteeringApp.Models.Identity.AppIdentityUser>>

<div class="container pe-5" style="max-height: 80vh; overflow-y: auto;">
    <div class="list-group">
        @foreach (var conversation in Model)
        {
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-start" data-conversationid="@conversation.Key">
                <div class="ms-2 me-auto">
                    @if (conversation.Value.Count > 1)
                    {
                        var display = string.Join(", ", conversation.Value.Select(m => m.UserName));
                        @Html.DisplayFor(modelItem =>display)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => conversation.Value.First().UserName)
                    }
                    <span class="badge rounded-pill bg-info float-end"></span>
                </div>
            </a>
        }
    </div>
    @if (User.IsInRole("Organization"))
    {
        <a class="btn btn-dark mt-3 d-flex justify-content-center align-items-center" asp-controller="Chat" asp-action="ShowCreateGroupChatForm">Create a new group chat</a>
    }
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/chat/fetch_chat.js"></script>
