@model VolunteeringApp.Models.Identity.Citizen

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-6 text-center">Edit Profile</h1>
<hr />
<div class="container d-flex justify-content-center">
    <form asp-action="Edit" asp-controller="Citizen" enctype="multipart/form-data" class="row g-3 w-75">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Image" />

        <!-- Username -->
        <div class="col-md-6">
            <label class="form-label">Username</label>
            <input asp-for="UserName" class="form-control" readonly />
            <div id="usernameHelpBlock" class="form-text">
                Username can't be changed.
            </div>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <!-- Email -->
        <div class="col-md-6">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" readonly />
            <div id="emailHelpBlock" class="form-text">
                Email can't be changed.
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <!-- Firstname -->
        <div class="col-md-6">
            <label asp-for="Firstname" class="form-label"></label>
            <input asp-for="Firstname" class="form-control" />
            <span asp-validation-for="Firstname" class="text-danger"></span>
        </div>

        <!-- Lastname -->
        <div class="col-md-6">
            <label asp-for="Lastname" class="form-label"></label>
            <input asp-for="Lastname" class="form-control" />
            <span asp-validation-for="Lastname" class="text-danger"></span>
        </div>

        <!-- Description -->
        <div class="col-md-12">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
            <div id="descriptionHelpBlock" class="form-text">
                Description can be up to 500 characters long.
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <!-- Profile Image -->
        <div class="col-md-12">
            <label class="form-label">New Profile Image</label>
            <input type="file" class="form-control" id="ImageFile" name="ImageFile" />
            <div id="imageHelpBlock" class="form-text">
                Accepted extensions: .jpeg, .png, .gif
            </div>
            <span for="ImageFile" class="text-danger"></span>
        </div>

        <!-- Submit Button -->
        <div class="col-12 d-flex justify-content-center">
            <input type="submit" value="Apply Changes" class="btn btn-primary-custom me-3" />
            <a asp-action="Details" asp-route-id="@Model?.Id" class="btn btn-outline-secondary-custom">Back to Profile</a>
        </div>
    </form>
</div>
