@model IEnumerable<VolunteeringApp.Models.Social.EventParticipant>

@{
    ViewData["Title"] = "Event Participants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var eventName = ViewBag.Event.Title;
}

<h1 class="display-4">Participants of Event "@eventName"</h1>
</hr>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="row lead">
                <td class="col-10">
                    &#64;@Html.DisplayFor(modelItem => item.Citizen.UserName)
                </td>
                <td class="col-2">
                    <a class="btn btn-dark" asp-controller="Citizen" asp-action="Details" asp-route-id="@item.CitizenId">Go to profile</a>
                    <a class="btn btn-outline-dark" asp-controller="Chat" asp-action="CreateOrFetchPrivateChat" asp-route-id="@item.CitizenId">Contact</a>
                </td>
            </tr>
        }
    </tbody>
</table>
