@model IEnumerable<VolunteeringApp.Models.Social.EventParticipant>

@{
    ViewData["Title"] = "Event Participants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var eventName = ViewBag.Event.Title;
}

<h1 class="display-6">Participants of Event "@eventName"</h1>
<hr/>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="row lead">
                <td class="col-9">
                    @if (item.Citizen.Image != null && item.Citizen.Image.Length > 0)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Citizen.Image)" alt="Profile Picture" class="rounded-circle shadow" style="height:48px;width:48px; object-fit: cover;">
                    }
                    else
                    {
                        <img src="~/images/avatar.png" alt="Profile Picture" class="rounded-circle shadow" style="height:48px;width:48px; object-fit: cover;">
                    }
                    &#64;@Html.DisplayFor(modelItem => item.Citizen.UserName)
                </td>
                <td class="col-3">
                    <a class="btn btn-primary-custom" asp-controller="Citizen" asp-action="Details" asp-route-id="@item.CitizenId">View profile</a>
                    <a class="btn btn-outline-primary-custom" asp-controller="Chat" asp-action="CreateOrFetchPrivateChat" asp-route-id="@item.CitizenId"><i class="bi bi-send-fill"></i> Message</a>
                </td>
            </tr>
        }
    </tbody>
</table>
