@model VolunteeringApp.Models.Identity.Organization
@using VolunteeringApp.Models.Enums
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1>Profile Details</h1>
</div>
<div class="row">
    @await Html.PartialAsync("_DetailedOrganizationCard", Model)
</div>


