@model IEnumerable<VolunteeringApp.Models.Identity.Organization>
@using VolunteeringApp.Models.Enums
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Organizations</h1>
<form asp-controller="Organization" asp-action="Index">
    <p>
        Search by name: <input type="text" name="SearchString" />
        <input class="btn btn-primary" type="submit" value="Search" />
    </p>
</form>
<div class="container container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("_OrganizationCard", item)
        }   
    </div>
</div>