@model VolunteeringApp.Models.Social.Event

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <h1>Edit Event</h1>
        <hr />
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="OrganizerId" />
            <input type="hidden" asp-for="Image" />
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label asp-for="StartTime" class="form-label">Start Time</label>
                    <input asp-for="StartTime" class="form-control" />
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="EndTime" class="form-label">End Time</label>
                    <input asp-for="EndTime" class="form-control" />
                    <span asp-validation-for="EndTime" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label asp-for="MaxParticipants" class="form-label">Max Participants</label>
                    <input asp-for="MaxParticipants" class="form-control" />
                    <span asp-validation-for="MaxParticipants" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Location" class="form-label">Location</label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Event Image</label>
                <input type="file" class="form-control" id="ImageFile" name="ImageFile" />
                <span for="ImageFile" class="text-danger"></span>
            </div>

            <div class="d-grid gap-2">
                <input type="submit" value="Save" class="btn btn-dark" />
                <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>
