@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <div class="mt-4 p-5 text-white rounded" style="background-color:var(--primary-color)">
            <h2 class="display-4">
                Welcome to <i>KindLink</i>!
            </h2>
            <p>
                At <i>KindLink</i>, we believe in the power of community and collective action to drive positive change. Our platform serves as a bridge between non-profit organizations and individuals who are passionate about making a difference.
            </p>
            <p>
                <a class="btn btn-dark btn-large" asp-action="RegisterCitizen" asp-controller="Account">Get Started</a>
            </p>
        </div>
    </div>
</div>
<!-- Three columns of text below the carousel -->
<div class="row mt-5">
    <div class="col-lg-4">
        <div class="d-flex flex-column h-100">
            <img src="~/images/about_us_icon.png" alt="Generic placeholder image" width="140" height="140">
            <h2>About Us</h2>
            <p>KindLink is dedicated to fostering a culture of giving back and community involvement. Our platform makes it easy for non-profit organizations to connect with passionate volunteers who want to make a difference.</p>
            <p class="mt-auto"><a class="btn" style="background-color:var(--secondary-color);color:white" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="d-flex flex-column h-100">
            <img src="~/images/our_mission_icon.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Our Mission</h2>
            <p>Our mission is to inspire action and create positive change by providing a platform that empowers individuals to find volunteer opportunities that align with their interests and skills.</p>
            <p class="mt-auto"><a class="btn" style="background-color:var(--secondary-color);color:white" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="d-flex flex-column h-100">
            <img src="~/images/get_involved_icon.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Get Involved</h2>
            <p>Ready to make a difference? Join the KindLink community today and explore volunteer opportunities, discover inspiring organizations, and start making a positive impact on your community!</p>
            <p class="mt-auto"><a class="btn" style="background-color:var(--secondary-color);color:white" href="#" role="button">Get Involved &raquo;</a></p>
        </div>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<hr class="mt-5">
<div class="row">
    <div class="col-md-7 my-auto">
        <h2 class="featurette-heading">Empower. Inspire. Connect. <span class="text-muted">Join KindLink today.</span></h2>
        <p class="lead">KindLink is your gateway to meaningful volunteer opportunities and impactful community involvement. Join us in building a better world, one act of kindness at a time.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto d-block" src="~/images/featurette_1.jpg" alt="Generic placeholder image" style="height: auto; max-height: 300px;">
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-7 order-md-2 my-auto">
        <h2 class="featurette-heading">Make a Difference. <span class="text-muted">Start volunteering today.</span></h2>
        <p class="lead">Every action, no matter how small, has the power to create positive change. Join KindLink and discover volunteer opportunities that align with your passions and interests.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto d-block" src="~/images/featurette_2.jpg" alt="Generic placeholder image" style="height: auto; max-height: 300px;">
    </div>
</div>

<hr>

<div class="row my-5">
    <div class="col-md-7 my-auto">
        <h2 class="featurette-heading">Together, we can make a difference. <span class="text-muted">Join KindLink today.</span></h2>
        <p class="lead">Join our community of changemakers and help us create a brighter future for all. Together, we can make a meaningful impact and inspire positive change in our communities.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto d-block" src="~/images/featurette_3.jpg" alt="Generic placeholder image" style="height: auto; max-height: 300px;">
    </div>
</div>

