@model VolunteeringApp.Models.Authentication.CitizenRegisterViewModel
@{
    ViewData["Title"] = "Citizen Registration";
}

<h1>Citizen Registration</h1>

<form method="post" asp-action="RegisterCitizen">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Firstname"></label>
        <input asp-for="Firstname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Lastname"></label>
        <input asp-for="Lastname" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
