@model IEnumerable<VolunteeringApp.Models.Social.FollowRelationship>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4">Followers</h1>
<hr />
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="row lead">
                <td class="col-9">
                    <img src="@(item.Follower.Image!= null && item.Follower.Image.Length > 0 ? "data:image/jpeg;base64," + Convert.ToBase64String(item.Follower.Image) : Url.Content("~/images/avatar.png"))"
                         alt="Profile Picture"
                         class="rounded-circle me-3 shadow"
                         style="height: 40px; width: 40px; object-fit: cover;">
                    &#64;@Html.DisplayFor(modelItem => item.Follower.UserName)
                </td>
                <td class="col-3">
                    <a class="btn btn-secondary-custom" asp-controller="Follow" asp-action="RedirectToDetails" asp-route-id="@item.Follower.Id"><i class="bi bi-person-badge"></i> Go to profile</a>
                    <a class="btn btn-outline-secondary-custom" asp-controller="Chat" asp-action="CreateOrFetchPrivateChat" asp-route-id="@item.Follower.Id"><i class="bi bi-send-fill"></i> Message</a>
                </td>
            </tr>
        }
    </tbody>
</table>
